<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.infineon.aurix.buildsystem.winidea.launchConfigurationType">
    <booleanAttribute key="com.infineon.aurix.buildsystem.winidea.launchConfigurationType.DOWNLOAD_PROGRAM_ATTR" value="true"/>
    <booleanAttribute key="com.infineon.aurix.buildsystem.winidea.launchConfigurationType.RUN_TO_SYMBOL_ATTR" value="true"/>
    <stringAttribute key="com.infineon.aurix.buildsystem.winidea.launchConfigurationType.RUN_TO_SYMBOL_VALUE_ATTR" value="core0_main"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="${build_config}\led_blinker.elf"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="led_blinker"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="com.infineon.aurix.buildsystem.managed.configuration.binary.1774363520"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/led_blinker"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
</launchConfiguration>
